
.header_logo {
    max-width: 100px;
  }

body {
  background-image: url("../../public/images/carpp_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}
