.water_card_container {
  border: 2px solid #8ab478;
  max-width: 540px;
  min-width: 540px;
  max-height: 100px;
  color: white;
  .card_body_water {
    position: relative;
    .edit_icon_water_detail_page {
      color: white;
      position: absolute;
      right: 14px;
      top: 10px;
      &:hover {
        cursor: pointer;
      }
      &:hover {
        color: #8ab478;
      }
    }

    .info_icon_water_overview_page {
      color: white;
      position: absolute;
      right: 10px;
      bottom: 10px;
      &:hover {
        cursor: pointer;
      }
      &:hover {
        color: #8ab478;
      }
    }
  }

  .image_water_container {
    position: relative;
    .caught_fish_counter {
      position: absolute;
      font-weight: 700;
      left: -210px;
      padding: 5px;
      border-radius: 10px;
      top: -30px;
      background-color: #8ab478;
      min-width: 3rem;
    }
  }

}
