{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center vh-100"  style="background-color: #8ab478">
        <div class="flex-column text-center">
            <h1 class="display-1 fw-bold text-white">403</h1>
            <p style="color:white; font-weight: 700">Sorry! Maar hier moet je toch echt voor inloggen :)</p>
        </div>
    </div>
{% endblock %}